%p
  %strong= "Hi #{@user.name}!"
%p
  We received a request from you to reset your password. To complete the process, simply click the link below:
%p
  =link_to "Reset my password", @url
%p
  The link is valid for 24 hours.
%p
  If you don't want to change your password you can ignore this mail.
