<h5 class="list-group-item-heading">
  <strong>{{repo.full_name}}</strong>
    <span class="btn btn-default btn-xs disabled">
    <span class="glyphicon glyphicon-star"></span>
      {{repo.stargazers_count}}
    </span>
    <span class="btn btn-default btn-xs disabled" ng-if="repo.private === true">
      <span class="glyphicon glyphicon-lock"></span>
    </span>
</h5>
<p>
  <small class="list-group-item-text">{{repo.description}}</small>
</p>
<form action="/rooms" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value="{{Howlat.authenticity_token}}">
  <input id="find_or_create" name="find_or_create" type="hidden" value="1">
  <input class="hidden" name="room[name]" type="hidden" value="{{repo.full_name}}">
  <input class="hidden" name="room[repository_attributes][name]" type="hidden" value="{{repo.full_name}}"></div>
  <input class="hidden" name="room[repository_attributes][type]" type="hidden" value="github"></div>
  <input class="hidden" name="room[access]" type="hidden" value="private" ng-if="repo.private">
  <input class="hidden" name="room[access]" type="hidden" value="public" ng-if="!repo.private">
  <input class="hidden" name="room[access_policy]" type="hidden" value="github">
  <input class="btn btn-xs btn-default" name="commit" type="submit" value="Join conversation">
</form>
