<div id="chat-search" class="messages" ng-controller="SearchCtrl">
	<form ng-submit="search()" >
		<div class="input-append row-fluid">

			<input type="text" value='' name='message' ng-model="searchQuery" class='span10' tab-index="0"  autocomplete="off"/>
			<input id="message-send" type="submit" value="Search" class='btn btn-success span2' tab-index="1"/>
		</div>
	</form>

	<ul ng-show="searches.length>0" id="chat-search-list" >
			<li class="chat-entry message row chat-entry" ng-repeat="search in searches track by $index | filter: {body: '!!'}">


				<span class="message-datetime">{{search.created_at  | date:'MM/dd/yyyy @ h:mma'}}</span>

				<div class="author span2">
					{{search.author.name}}:
				</div>
				<div class="span9">
					<div ng-if="search.body!='file'" class="body" ng-bind-html="search.body | linky" ></div>
					<div ng-if="search.body=='file'" class="body"  ng-bind-html="search.attachment_url | linky"></div>
					<div ng-if="search.created_at!=search.updated_at" class="edited-info"> - Edited: {{search.updated_at  | date:'MM/dd/yyyy @ h:mma'}} </div>
				</div>
	
				<div style="clear: both;"></div>
			</li>
	</ul>
</div>
