(function() {
  var modal = $("#invitation-modal");
  modal.find('form .alert').remove();
  modal.find('form').prepend("<div class='alert alert-success'>Invitation has been sent to <%= @invitation.email %></div>")
})();
