.modal.hide.fade{id: id, "tabindex"=> "-1", "role"=> "dialog", "aria-hidden"=>"true"}
  .modal-header
    %button.close{"type"=> "button", "data-dismiss"=> "modal", "aria-hidden"=> "true"}
      ×
    %h3.header= header rescue nil
  .modal-body
  .modal-footer
    %button.btn{"type"=> "button", "data-dismiss"=> "modal", "aria-hidden"=> "true"}
      Close
